# SERVER CONFIGURATION
PORT=3000

# MONGODB CONFIG
# Use 'mongo' as the host if running via Docker Compose
MONGO_URI=mongodb://mongo:27017/palfin

# REDIS CONFIG
# Use 'redis' as the host if running via Docker Compose
REDIS_HOST=redis
REDIS_HOST=redis
REDIS_PORT=6379

# AI ENGINE
# Get yours at https://aistudio.google.com/
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
